/* font-family: 'Open Sans', sans-serif;
font-family: 'Poppins', sans-serif; */

/* 
Poppins:
Regular 400
Semi-bold 600
Bold 700

OpenSans:
Regular 400 
*/

h3,
h2,
h5,
ul,
li,
label {
  font-family: 'Poppins', sans-serif
}

p,
label {
  font-family: 'Open Sans', sans-serif
}

.btn {
  font-family: 'Poppins', sans-serif;
  font-size: 8pt;
}

.poiter {
  cursor: pointer;
}

.poiter:hover {
  color: rgb(0, 247, 255) !important;
  -moz-transform: scale(1.2) translate(20px, 0px);
-webkit-transform: scale(1.2) translate(20px, 0px);
-o-transform: scale(1.2) translate(20px, 0px);
-ms-transform: scale(1.2) translate(20px, 0px);
transform: scale(1.2) translate(20px, 0px);
}


html {
  padding: 0;
}

/* header */

.logoStyle {
  max-width: 160px;
}

.logo {
  background-image: url(./images/RollingJobswhite.svg);
  width: 160px
}

.navbar {
  background-color: #0c0a59;
}

.textColor {
  color:  #0c0a59;
}

.bg-primary {
  /* background: #0C0A59 !important;
  background: -moz-linear-gradient(-45deg, #0C0A59 0%, #221DFF 51%, #0C0A59 100%) !important;
  background: -webkit-linear-gradient(-45deg, #0C0A59 0%, #221DFF 51%, #0C0A59 100%) !important;
  background: linear-gradient(135deg, #0C0A59 0%, #221DFF 51%, #0C0A59 100%) !important; */

  background: #0C0A59 !important;
  background: -moz-linear-gradient(left, #0C0A59 0%, #221DFF 51%, #0C0A59 100%) !important;
  background: -webkit-linear-gradient(left, #0C0A59 0%, #221DFF 51%, #0C0A59 100%) !important;
  background: linear-gradient(to right, #0C0A59 0%, #221DFF 51%, #0C0A59 100%) !important;
}

.navbarGeneral {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
}


.botonHeader {
  background-color: #3dd993
}


.dropdown-item {
  font-size: 10pt;
  color: white;
  background-color: #0c0a59;
}

.dropdown-menu {
  color: white;
  background-color: #0c0a59;

}

.react-icons {
  color: white;
  justify-content: end;
}

svg {
  margin-top: -3px !important;
}

.nav-link {
  color: white;
  font-size: 10pt;
}

.usernameLoguin {
  color: white;
  font-size: 10pt;
}

.card-deck {
  margin: 10px;
}

.sidebarMenuAdmin {
  background-color: #0c0a59;
}

.titulares {
  font-weight: 600;
  font-size: 14pt;
  line-height: 16pt;
}

.postulationInicio {
  width: 100vw;
}


@media (min-width: 996px) {
  .navbarGeneral {
    display: flex;
    justify-content: flex-end;

  }

  .sidebarMenuAdmin {
    background-color: #0c0a59;
  }

  .sidebarMenu {
    height: 100vh;
    width: 30%;
    background-color: #3DD990;
  }

  .textAdmin {
    font-size: 1.5rem;
  }

}


/* navbartesting */

.vertical-nav {
  min-width: 17rem;
  width: 22rem;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.1);
  transition: all 0.4s;
  background-color: #0c0a59;
}

#sidebar.active {
  margin-left: -17rem;
}

#content.active {
  width: 100%;
  margin: 0;
}



@media (min-width: 768px) {

  /* navbarTesint */
  #sidebar {
    margin-left: -17rem;
  }

  #sidebar.active {
    margin-left: 0;
  }

  #content {
    width: 100%;
    margin: 0;
  }

  #content.active {
    margin-left: 17rem;
    width: calc(100% - 17rem);
  }

  /* finNavbarTesting */

  .logoStyle {
    max-width: 160px;
  }

  .dropdown-item {
    font-size: 12pt;
    color: white;
    background-color: #0c0a59;
  }

  .dropdown-menu {
    color: white;
    background-color: #0c0a59;
  }

  .nav-link {
    color: white;
    font-size: 12pt;
  }

  .navbarStyle {
    display: flex;
    align-items: center;
  }

  .btn {
    font-size: 12pt;
  }

  .usernameLoguin {
    color: white;
    font-size: 12pt;
  }


}

.homeInicial {
  height: 40rem;
  background: url(./images/lunaAustronaut.svg) no-repeat;
  background-color: #312f73;
  background-attachment: fixed;
  background-position: center;
  border-bottom-right-radius: 15px;
  background-position: bottom;
}

.logoPortada {
  width: 20rem;
  text-align: center;
}

.searchButton {
  width: 10rem;
  text-align: center;
}

.formSuscription {
  background-color: #0c0a59;
  text-align: center;
  width: 12rem;

}

.lateralSide {
  background: #0c0a59;
}

.companyData {
  height: 100vh;
  width: 10rem;
}


.sidebarMenuAdmin {
  background-color: #0c0a59;
}

.sidebarMenu {
  /* height: 100vh;
  width: 30%; */
  max-height: 100vh;
  background-color: #3DD990;
}

.listNavbar {
  height: 100vh;
}

.textAdmin {
  font-size: 0.8rem;
  font-weight: 700;
}

.formLabel {
  font-family: 'Poppins', sans-serif;
  font-weight: 600;
}

.izquierdaBody {
  height: 40rem;
  width: 100%;
  background-image: url(./images/peopleUno.svg);
  display: flex;
  background-repeat: no-repeat;
  background-size: 60%;
  background-position: right bottom;
  ;
}

.companyStyle {
  background-image: url(./images/puzzlePeople.svg);
  display: flex;
  background-repeat: no-repeat;
  background-size: 30%;
  background-position: right bottom;
  ;
}

.profileStyle {
  background-image: url(./images/team.svg);
  display: flex;
  background-repeat: no-repeat;
  background-size: 30%;
  background-position: right bottom;
}

.cartelCategories {
  cursor: pointer;
  width: 320px;
  height: 150px;
  -webkit-box-shadow: 1px -2px 10px 2px #C9C9C7;
  box-shadow: 1px -2px 10px 2px #C9C9C7;
  border: solid 1px #C9C9C7 !important;
  border-top-left-radius: 15px;
  border-bottom-right-radius: 15px;
}

.card{
  border-top-left-radius: 15px;
  border-bottom-right-radius: 15px;
}

.tituloCartel {
  font-weight: 600;
  font-size: 14pt;
  line-height: 16pt;
}


.tiempoCartel {
  font-size: 8pt;
  line-height: 8pt;
}

.tituloNews {
  font-weight: 700;
  color: #0c0a59;
  font-size: 2rem;
}

.textNews {
  font-weight: 400;
  color: #0c0a59;
  font-size: 1rem;
  font-family: 'Poppins', sans-serif;
}

.logoFooter {
  width: 250px;
}


.cartelInfo {
  width: 10rem;
  height: 6rem;
  text-align: center;
  background-color: #312F73;
  border-radius: 15px;
}

.infoCard {
  font-weight: 700;
  font-size: 26pt;
  line-height: 26pt;
}


.tituloDown {
  font-weight: 700;
  line-height: 22pt;
  font-size: 20pt;
}

.textDown {
  font-size: 16pt;
  line-height: 18pt;
}

.imgSizeLanding {
  width: 70%;
  display: flex;
  justify-content: center;
}

.profilePH {
  width: 150px;
  height: 150px;
  object-fit: cover;

}

.tituloLinks {
  font-family: 'Poppins', sans-serif;
  font-size: 10pt;
  list-style-type: none;
  color: white;
}

.aTituloLinks {
  font-family: 'Poppins', sans-serif;
  font-size: 10pt;
  list-style-type: none;
}

.tablaTitulo {
font-size: 11pt;
text-align: center;
}


@media (min-width: 768px) {

  .tablaTitulo {
    font-size: 12pt;
    }


  .logoPortada {
    width: 50rem;
  }

  .searchButton {
    width: 16rem;
  }

  .formSuscription {
    background-color: #0c0a59;
    text-align: center;
    width: 50rem;

  }

  .textAdmin {
    font-size: 1.5rem;
  }


  .cartelCategories:hover {
    -moz-transform: scale(1.1);
    -webkit-transform: scale(1.1);
    -o-transform: scale(1.1);
    -ms-transform: scale(1.1);
    transform: scale(1.1);
    background-color: #0c0a59;
    border-top-left-radius: 15px;
    border-bottom-right-radius: 15px;
    color: white;
    /* transition: background-color .4s; */
  }

  .tituloCartel {
    font-weight: 600;
    font-size: 18pt;
    line-height: 18pt;
  }

  .tiempoCartel {
    font-size: 10pt;
    line-height: 10pt;
  }

  .izquierdaBody {
    height: 40rem;
    width: 100%;
    background-image: url(./images/peopleUno.svg);
    display: flex;
    background-repeat: no-repeat;
    background-size: 30%;
    background-position: right center;
    ;
  }

  .tituloNews {
    font-weight: 700;
    color: #0c0a59;
    font-size: 3rem;
  }

  .textNews {
    font-weight: 400;
    color: #0c0a59;
    font-size: 1.30rem;
    font-family: 'Poppins', sans-serif;
  }

  .logoFooter {
    max-width: 300px;
  }

  .cartelInfo {
    width: 14rem;
    height: 8rem;
    text-align: center;
    background-color: #312F73;
    border-radius: 15px;
  }

  .infoCard {
    font-weight: 700;
    font-size: 35pt;
    line-height: 35pt;
  }

  .titulares {
    font-weight: 700;
    line-height: 26pt;
    font-size: 28pt;

  }

  .tituloDown {
    font-weight: 700;
    line-height: 26pt;
    font-size: 28pt;

  }

  .textDown {
    font-size: 14pt;
    line-height: 18pt;
  }

  .imgSizeLanding {
    width: 100%;
  }

  .footerWeb {
    height: 200px;
    display: flex;
    align-items: center;
  }

  .tituloLinks {
    font-family: 'Poppins', sans-serif;
    font-size: 12pt;
    list-style-type: none;
    color: white;
  }

  .aTituloLinks {
    font-family: 'Poppins', sans-serif;
    font-size: 12pt;
    list-style-type: none;
  }

}

.infoInicial {
  font-weight: 700;
  line-height: 20pt;
}

.imgSVG {
  height: 30rem;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type=number] {
  -moz-appearance: textfield;
}

.labelnav {
  cursor: pointer;
}

.labelnav:hover {
  text-decoration: underline;
}

#file_input_id {
  display: none;
}

#cv_input_id {
  display: none;
}

/* .generalBody {
  height: 40rem;
}

.bodyPostulates{
  height: 20rem;
}


.titulos{
font-size: 25pt;
font-weight: 600;
}

.titulosQues{
  font-size: 15pt;
  font-weight: 600;
}

.links{
  font-family:'Poppins', sans-serif;
font-size: 10pt;
color: #3DD990;
}

.modifData{
  max-width: 50rem;
}



  
.cartelJobs{
/* -webkit-border-top-left-radius: 10px;
-webkit-border-bottom-right-radius: 10px;
-moz-border-radius-topleft: 10px;
-moz-border-radius-bottomright: 10px; */
/* width: 20rem;
  height: 15rem;
  border-top-left-radius: 15px;
  border-bottom-right-radius: 15px;
} */




.dataBody {
  line-height: 4pt;
}

.datosCartel {
  font-size: 9pt;

}

.descriptionOffer {
  font-size: 9pt;
  line-height: 10pt;
}



.imageLogoCard {
  background-color: rgb(223, 223, 223);
  height: 5rem;
  width: 5rem;

}






/* footer */

.footerWeb {
  background-color: #0c0a59;
  /* max-height: 12rem; */
}

.menuFooter {
  width: 100vh;
}

.tituloCardSale {
  font-weight: 600;
  font-size: 15pt;
  font-family: 'Poppins', sans-serif;
}

.tituloFooter {
  font-weight: 600;
  font-size: 15pt;
}



.testingMargin {
  margin-top: 5rem;
  margin-bottom: 15rem;
}

.searchBar {
  background-color: #0c0a59;
}

.imagePrice {
  width: 70px;
}