/* font-family: 'Open Sans', sans-serif;
font-family: 'Poppins', sans-serif; */

/* 
Poppins:
Regular 400
Semi-bold 600
Bold 700

OpenSans:
Regular 400 
*/

h3,
h2,
h5,
ul,
li,
label {
  font-family: 'Poppins', sans-serif
}

p,
label {
  font-family: 'Open Sans', sans-serif
}

.btn {
  font-family: 'Poppins', sans-serif;
  font-size: 8pt;
}

html {
  padding: 0;
}

/* header */

.logoStyle {
  max-width: 160px;
}

.logo {
  background-image: url(./images/RollingJobswhite.svg);
  width: 160px
}

.navbar {
  border-top-left-radius: 15px;
  border-bottom-right-radius: 15px;
  background-color: #0c0a59
}

.navbarGeneral {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
}


.botonHeader {
  background-color: #3dd993
}


.dropdown-item {
  font-size: 10pt;
  color: white;
  background-color: #0c0a59;
}

.dropdown-menu {
  color: white;
  background-color: #0c0a59;

}

.nav-link {
  color: white;
  font-size: 10pt;
}

.usernameLoguin {
  color: white;
  font-size: 10pt;
}

.card-deck {
  margin: 10px;
}



@media (min-width: 996px) {
  .navbarGeneral {
    display: flex;
    justify-content: flex-end;
  }

}

@media (min-width: 768px) {
  .logoStyle {
    max-width: 160px;
  }

  .dropdown-item {
    font-size: 12pt;
    color: white;
    background-color: #0c0a59;
  }

  .dropdown-menu {
    color: white;
    background-color: #0c0a59;
  }

  .nav-link {
    color: white;
    font-size: 12pt;
  }

  .navbarStyle {
    display: flex;
    align-items: center;
  }

  .btn {
    font-size: 12pt;
  }

  .usernameLoguin {
    color: white;
    font-size: 12pt;
  }


}

/* body */
.homeInicial {
  height: 40rem;
  background: url(./images/lunaAustronaut.svg) no-repeat;
  background-color: #312f73;
  background-position: center;
  border-top-left-radius: 15px;
  border-bottom-right-radius: 15px;
  background-position: bottom;
}

.logoPortada {
  width: 25rem;
  text-align: center;
}

.searchButton {
  width: 10rem;
  text-align: center;
}

.formSuscription {
  background-color: #0c0a59;
  text-align: center;
  width: 20rem;

}

.lateralSide {
  background: #0c0a59;
}

.companyData {
  height: 100vh;
  width: 10rem;
}


.sidebarMenuAdmin {
  height: 100vh;
  width: 30%;
  background-color: #0c0a59;
}

.sidebarMenu {
  /* height: 100vh;
  width: 30%; */
  max-height: 100vh;
  background-color: #3DD990;
}

.listNavbar {
  height: 100vh;
}

.textAdmin {
  font-size: 1rem;
  font-weight: 700;
}

.formLabel {
  font-family: 'Poppins', sans-serif;
  font-weight: 600;
}

.izquierdaBody {
  height: 40rem;
  width: 100%;
  background-image: url(./images/peopleUno.svg);
  display: flex;
  background-repeat: no-repeat;
  background-size: 60%;
  background-position: right bottom;
  ;
}

.companyStyle {
  background-image: url(./images/puzzlePeople.svg);
  display: flex;
  background-repeat: no-repeat;
  background-size: 30%;
  background-position: right bottom;
  ;
}

.profileStyle {
  background-image: url(./images/team.svg);
  display: flex;
  background-repeat: no-repeat;
  background-size: 30%;
  background-position: right bottom;
}

.cartelCategories {
  padding: 1rem !important;
  cursor: pointer;
  width: 320px;
  height: 150px;
  -webkit-box-shadow: 1px -2px 20px 2px #000000;
  box-shadow: 1px -2px 20px 2px #000000;
  border: solid 1px #0c0a59 !important;
  border-top-left-radius: 15px;
  border-bottom-right-radius: 15px;
}


.tituloCartel {
  font-weight: 600;
  font-size: 14pt;
  line-height: 16pt;
}


.tiempoCartel {
  font-size: 8pt;
  line-height: 8pt;
}

.tituloNews {
  font-weight: 700;
  color: #0c0a59;
  font-size: 2rem;
}

.textNews {
  font-weight: 400;
  color: #0c0a59;
  font-size: 1rem;
  font-family: 'Poppins', sans-serif;
}

.logoFooter {
  width: 250px;
}


.cartelInfo {
  width: 10rem;
  height: 6rem;
  text-align: center;
  background-color: #312F73;
  border-radius: 15px;
}

.infoCard {
  font-weight: 700;
  font-size: 26pt;
  line-height: 20pt;
}

.tituloDown {
  font-weight: 700;
  line-height: 22pt;
  font-size: 20pt;
}

.textDown {
  font-size: 16pt;
  line-height: 18pt;
}

.imgSizeLanding {
  width: 70%;
}

.profilePH {
  width: 150px;
  height: 150px;
  object-fit: cover;

}

@media (min-width: 768px) {
  .logoPortada {
    width: 50rem;
  }

  .searchButton {
    width: 16rem;
  }

  .formSuscription {
    background-color: #0c0a59;
    text-align: center;
    width: 50rem;

  }

  .companyData {
    height: 100wh;
    width: 100vw;
  }

  .textAdmin {
    font-size: 2rem;
  }

  .cartelCategories:hover {
    padding: 1rem !important;
    -moz-transform: scale(1.1);
    -webkit-transform: scale(1.1);
    -o-transform: scale(1.1);
    -ms-transform: scale(1.1);
    transform: scale(1.1);
    background-color: #0c0a59;
    border-top-left-radius: 15px;
    border-bottom-right-radius: 15px;
    color: white;
    /* transition: background-color .4s; */
  }

  .tituloCartel {
    font-weight: 600;
    font-size: 18pt;
    line-height: 18pt;
  }

  .tiempoCartel {
    font-size: 10pt;
    line-height: 10pt;
  }

  .izquierdaBody {
    height: 40rem;
    width: 100%;
    background-image: url(./images/peopleUno.svg);
    display: flex;
    background-repeat: no-repeat;
    background-size: 30%;
    background-position: right center;
    ;
  }

  .tituloNews {
    font-weight: 700;
    color: #0c0a59;
    font-size: 3rem;
  }

  .textNews {
    font-weight: 400;
    color: #0c0a59;
    font-size: 1.30rem;
    font-family: 'Poppins', sans-serif;
  }

  .logoFooter {
    max-width: 300px;
  }

  .cartelInfo {
    width: 14rem;
    height: 8rem;
    text-align: center;
    background-color: #312F73;
    border-radius: 15px;
  }

  .infoCard {
    font-weight: 700;
    font-size: 35pt;
    line-height: 20pt;
  }

  .tituloDown {
    font-weight: 700;
    line-height: 26pt;
    font-size: 28pt;

  }

  .textDown {
    font-size: 14pt;
    line-height: 18pt;
  }

  .imgSizeLanding {
    width: 100%;
  }

  .footerWeb {
    height: 200px;
    display: flex;
    align-items: center;
  }
}

.infoInicial {
  font-weight: 700;
  line-height: 20pt;
}

.imgSVG {
  height: 30rem;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type=number] {
  -moz-appearance: textfield;
}

label{
  cursor: pointer;
}

label:hover{
  text-decoration: underline;
}

#file_input_id{
  display:none;
}

/* .generalBody {
  height: 40rem;
} */

.bodyPostulates {
  height: 20rem;
}


.titulos {
  font-size: 25pt;
  font-weight: 600;
}

.titulosQues {
  font-size: 15pt;
  font-weight: 600;
}

.links {
  font-family: 'Poppins', sans-serif;
  font-size: 10pt;
  color: #3DD990;
}

.modifData {
  max-width: 50rem;
}




.cartelJobs {
  /* -webkit-border-top-left-radius: 10px;
-webkit-border-bottom-right-radius: 10px;
-moz-border-radius-topleft: 10px;
-moz-border-radius-bottomright: 10px; */
  width: 20rem;
  height: 15rem;
  border-top-left-radius: 15px;
  border-bottom-right-radius: 15px;
}




.dataBody {
  line-height: 4pt;
}

.datosCartel {
  font-size: 9pt;

}

.descriptionOffer {
  font-size: 9pt;
  line-height: 10pt;
}



.imageLogoCard {
  background-color: rgb(223, 223, 223);
  height: 5rem;
  width: 5rem;

}






/* footer */

.footerWeb {
  background-color: #0c0a59;
  /* max-height: 12rem; */
}

.menuFooter {
  width: 100vh;
}

.tituloCardSale {
  font-weight: 600;
  font-size: 15pt;
  font-family: 'Poppins', sans-serif;
}

.tituloFooter {
  font-weight: 600;
  font-size: 15pt;
}

.tituloLinks {
  font-family: 'Poppins', sans-serif;
  font-size: 10pt;
  list-style-type: none;
  color: white;
}

.aTituloLinks {
  font-family: 'Poppins', sans-serif;
  font-size: 10pt;
  list-style-type: none;
}



.testingMargin {
  margin-top: 5rem;
  margin-bottom: 5rem;
}

.searchBar {
  background-color: #0c0a59;
}

.imagePrice {
  width: 70px;
}

svg {
  margin-top: -3px !important;
}